*{
  	margin: 0;
  	padding: 0;
}
.hidden{
  	display: none;
}
html,
body{
    height: 100vh;
}
body{
	align-items: flex-start;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
:root{
  --cor-texto: white;
  --cor-texto-branco: #FEFEFE;
  --fundo-header: #ffaf40;
  --altura-menu: 5rem;
}

a{
  text-decoration: none;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p, 
div,
span,
strong,
em{
  color: var(--cor-texto);
  font-family: 'Bree Serif', serif;
}
header{
  background: var(--fundo-header);
  height: var(--altura-menu);
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  transition: all ease-in-out 0.5s;
  top: 0;
  width: 100%;
  
}

nav{
  background: #fa8231;
  height: 100%;
  left: 0;  
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all ease-in-out .3s;
}

nav ul{
  list-style: none;
  padding: 2rem;
  position: fixed;
}

nav li{
  padding: 1rem 0;
}

nav a{
  color: var(--cor-texto-branco);
  display: block;
  text-decoration: none;
}

nav.hidden{
  overflow: hidden;
  width: 0;
}

nav.active{
  width: 40vw;
}

header h1{
  line-height: var(--altura-menu);
  text-align: center;
}

#btn{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilo menu-icon*/ 
#menu-icon{
  height: 25px;
  line-height: 6rem;
  width: 40px;
}

#menu-icon [id^="linha"]{
  background: var(--cor-texto);
  border-radius: 5px;
  height: 5px;
  margin-bottom: 5px;
  width: 100%;  
}

#menu-icon [id^="linha"]:last-of-type{
  margin-bottom: 0;
}

/* Botão para fechar Menu */
#close{
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

/* Transições */
nav,
#menu-bar,
header{
    transition: all ease-in-out 0.4s;
}  
#principal{
  	margin-top: 0;
}